<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="$(var.BundleName)"
    Manufacturer="$(var.BundleManufacturer)"
    Version="$(var.ProductVersion)"
    UpgradeCode="{8A7B2129-5931-4DE5-A3F0-7096A245DAE1}">

    <Variable Name="SlideTeXInstallerCulture" Type="string" Value="" bal:Overridable="yes" />
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense" LicenseUrl="https://opensource.org/license/mit/" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
        Id="SlideTeXMsiZhCn"
        SourceFile="$(var.MsiZhCnPath)"
        InstallCondition='SlideTeXInstallerCulture = "zh-CN" OR (SlideTeXInstallerCulture = "" AND WixBundleUILanguage = 2052)' />

      <MsiPackage
        Id="SlideTeXMsiEnUs"
        SourceFile="$(var.MsiEnUsPath)"
        InstallCondition='SlideTeXInstallerCulture = "en-US" OR (SlideTeXInstallerCulture = "" AND WixBundleUILanguage &lt;&gt; 2052)' />
    </Chain>
  </Bundle>
</Wix>
