<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="!(loc.ProductName)"
    Manufacturer="!(loc.Manufacturer)"
    Version="$(var.ProductVersion)"
    UpgradeCode="{6A4B6C6E-90D8-4F40-9B7B-F5AD2A8E7A01}"
    InstallerVersion="500"
    Scope="perMachine"
    Compressed="yes"
    Language="!(loc.ProductLanguage)">

    <MajorUpgrade
      DowngradeErrorMessage="!(loc.DowngradeErrorMessage)"
      AllowSameVersionUpgrades="yes" />

    <MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="!(loc.InstallFolderName)">
        <Directory Id="ADDINFOLDER" Name="!(loc.AddinFolderName)" />
        <Directory Id="WEBUIFOLDER" Name="!(loc.WebUiFolderName)" />
      </Directory>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="!(loc.MainFeatureTitle)" Level="1">
      <ComponentGroupRef Id="SlideTeXProductComponents" />
      <ComponentGroupRef Id="SlideTeXRegistrationComponents" />
    </Feature>

  </Package>
</Wix>
